*{
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
}
img{
    filter: invert(100%);
}
.caixa{
    background-color: rgb(60, 60, 60);
    border-radius: 30px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
    gap: 10px;
}
.c3-1{
    display: flex;
}
.texto-grande{
    font-size: 64px;
}
.texto-medio{
    font-size: 30px;
}
.texto-pequeno{
    font-size: 10px;
}
.c3-1 img{
    width: 25px;
}
.c1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.c2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.c3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.c4, .c4 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.c5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.c2 img{
    width: 70px;
}
.c1 img{
    width: 15px;
}
#teste{
    
}
